<mat-sidenav-container style="height: 100%;">
  <mat-sidenav-content>

    <button mat-icon-button class="close-bt" (click)="back()">
      <mat-icon>close</mat-icon>
    </button>

    <h2>
      {{question.question}}
    </h2>
    <h2>
      {{question.owner}}
    </h2>

    <div fxLayout="row" fxLayoutWrap>
      <mat-card class="card" *ngFor="let tag of tags">
        <mat-card-header>
          <mat-card-title>
            {{tag.tag ?tag.tag :'Sem tag'}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let answer of tag.answers">
            {{answer.answer}}
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </mat-sidenav-content>

  <mat-sidenav #nav align="end" mode="side" opened="true" class="mat-elevation-z2">

    <mat-card style="margin: 8px">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-title>
          <h2>ANSWERS</h2>
        </mat-card-title>
      </mat-card-header>

      <div *ngIf="owner">
        <div *ngFor="let answer of answers" fxLayoutAlign="center">
          <mat-card-content>
            <span *ngIf="!answer.isEditing">
              {{answer.answer}}
            </span>
            <mat-form-field *ngIf="answer.isEditing">
              <input matInput placeholder="Tag" [(ngModel)]="answer.tag" (keyup.enter)="updateTag(answer)">
            </mat-form-field>
          </mat-card-content>

          <button mat-icon-button (click)="setTF(answer)">
            <mat-icon>{{answer.isEditing ?'remove' :'add'}}</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="!owner">
        <form [formGroup]="form" (ngSubmit)="addAnswer()" style="margin: 8px">
          <div fxLayout="column">
            <mat-form-field>
              <input matInput placeholder="Answer" formControlName="answer">
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Add Answer</button>
          </div>
        </form>
      </div>

    </mat-card>

  </mat-sidenav>
</mat-sidenav-container>