<!-- <div class="container">
	<button mat-raised-button color="primary" (click)="login()">{{'Login' | translate}}</button>
</div> -->
<div class="container">
	<div class="helper">
	<mat-card>
		<mat-card-header>
			<mat-card-title>
				{{('Login' | translate).toUpperCase()}}
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<form [formGroup]="form" (ngSubmit)="login()">
				<div fxLayout="column"  fxLayoutGap="5px">
					<mat-form-field [hintLabel]="hintLabelEmail">
						<input matInput [placeholder]="'Email' | translate" formControlName="email">
						<mat-error *ngIf="form.get('email').hasError('required')">{{'Required' | translate}}</mat-error>
						<mat-error *ngIf="form.get('email').hasError('email')">{{'InvalidEmail' | translate}}</mat-error>
					</mat-form-field>
					<mat-form-field [hintLabel]="hintLabelPassword">
						<input matInput [placeholder]="'Pass' | translate" type="password" formControlName="password">
						<mat-error *ngIf="form.get('password').hasError('required')">{{'Required' | translate}}</mat-error>
					</mat-form-field>
					<div fxLayout="row">
						<button mat-raised-button (click)="changeRoute()" style="width: 49%; margin-right: 2%;">{{'SignInWithCode' | translate}}</button>
						<button mat-raised-button color="primary" type="submit" style="width: 49%;">{{'Login' | translate}}</button>
					</div>
					<button mat-button color="primary" (click)="signUp()">{{'SignUp' | translate}}</button>
				</div>
			</form>
		</mat-card-content>
	</mat-card>
	<mat-progress-spinner class="spinner" *ngIf="showProgress" color="primary" mode="indeterminate"></mat-progress-spinner>
	</div>
</div>

<router-outlet></router-outlet>