.container {
	display: table;
	justify-content: center !important;
	position: absolute;
	height: 100%;
	width: 100%;
}

.spinner {
	position: fixed; /* or absolute */
	top: 45%;
	left: 45%;
}

.helper{
	display: table-cell;
	vertical-align: middle;
}

mat-card{
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 700px) {
	mat-card{
		width: 80%;
		margin: auto;
	}
}