p, button {
    font-family: 'Roboto', sans-serif;
}

.text-low {
    font-family: 'Roboto', sans-serif;
    color: grey; 
    font-size: 0.925em;
}

#hash {
    font-family: 'Fredoka One', cursive;
    color: #3f51b5;
    font-size: 1.550em
}

.sticky-buttons {
    position:sticky;    
    bottom: 0;
    background-color: white;
    
    border-top: 1px solid #ddd;
    width: 100% !important;
    padding: 6px 0;
    /* margin-left: -24px; */
  }