<div class="container">
  <mat-card style="width: 30%">
      <button mat-button style="margin-bottom: 5px;" (click)= "goBack()">back</button>
    <mat-card-header>
      <mat-card-title>
        SIGN UP
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form #f="ngForm" (ngSubmit)="signUp(f)" >
        <mat-form-field>
          <input matInput placeholder="Username" type="text" name="username">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" name="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Confirm Password" type="password">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Sign up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>