<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="space-between">

	<div fxLayoutAlign="center center">
		<button mat-button (click)="viewRooms()" class="button">
			<mat-icon class="icon">home</mat-icon>
		</button>
	</div>
	<div class="title" fxLayoutAlign="center center">
		<span class="title">Angular de Segunda</span>
	</div>
	<div fxLayoutAlign="center center">
		<button mat-button [matMenuTriggerFor]="menu">
			<span class="text-identify">{{this.user.username}}</span>
			<mat-icon class="icon">person</mat-icon>
		</button>

		<mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
			<div mat-menu-item class="person-div">
				<mat-icon>person</mat-icon>
				<span>{{this.user.username}}</span>
			</div>

			<button mat-menu-item [matMenuTriggerFor]="subMenu">
				<mat-icon>language</mat-icon>
				<span>{{'ChangeLanguage' | translate}}</span>
			</button>

			<button mat-menu-item (click)="logoff()">
				<mat-icon>power_settings_new</mat-icon>
				<span>{{'Logout' | translate}}</span>
			</button>
		</mat-menu>

		<mat-menu #subMenu="matMenu">
			<button mat-menu-item (click)="changeLanguage('en')">
				<img class="flag" src="assets/img/flags/us.svg" alt="">
				<span>en</span>
			</button>

			<button mat-menu-item (click)="changeLanguage('pt')">
				<img class="flag" src="assets/img/flags/br.svg" alt="">
				<span>pt</span>
			</button>
		</mat-menu>
	</div>

</mat-toolbar>

<mat-sidenav-container style="height: calc(100vh - 64px);">

	<mat-sidenav #side mode="side" opened="true" class="mat-elevation-z16 side">
		<!-- <app-room-list></app-room-list> -->
		<div *ngIf="!isAnonymous">
			<mat-card class="room-list-card">
				<mat-card-header fxLayoutAlign="center">
					<mat-card-title>
						<h2>{{'AddRoom' | translate}}</h2>
					</mat-card-title>
				</mat-card-header>
				<div fxLayoutAlign="center" style="padding: 5px;">
					<form [formGroup]="form" (ngSubmit)="insertRoom()">
						<div fxLayout="column">
							<mat-form-field>
								<input matInput #input maxlength="30" placeholder="{{'RoomName' | translate}}" formControlName="name">
								<mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
							</mat-form-field>
							<button mat-raised-button color="primary" type="submit" style="margin-top: 5px;">{{'AddRoom' | translate}}</button>
						</div>
					</form>
				</div>
			</mat-card>
		</div>

		<div *ngIf="!isAnonymous">
			<mat-card class="room-list-card">
				<mat-card-header fxLayoutAlign="center">
					<mat-card-title>
						<h2>{{'MyRooms' | translate}}</h2>
					</mat-card-title>
				</mat-card-header>
				<div *ngFor="let room of rooms" fxLayoutAlign="start" class="room-div">
					<a routerLinkActive="active-link" [routerLink]="['/rooms/'+ room.key]" (click)="closeMobile()">
						<div *ngIf="room.name.length > 15; else noTooltipOwner">
							<p matTooltip={{room.name}} class="rooms-text">
								{{room.name.substring(0,14)+'...'}}
							</p>
						</div>
						<ng-template #noTooltipOwner>
							<p class="rooms-text">
								{{room.name}}
							</p>
						</ng-template>
					</a>
				</div>
			</mat-card>
		</div>
		<mat-card class="room-list-card">
			<mat-card-header fxLayoutAlign="center">
				<mat-card-title>
					<h2>{{'Associate' | translate}}</h2>
				</mat-card-title>
			</mat-card-header>
			<div *ngFor="let room of roomsOn" fxLayoutAlign="center" class="room-div">
				<a routerLinkActive="active-link" [routerLink]="['/rooms/'+ room.key]" (click)="closeMobile()">
					<div *ngIf="room.name.length > 15; else noTooltip">
						<p matTooltip={{room.name}} class="rooms-text">
							{{room.name.substring(0,14)+'...'}}
						</p>
					</div>
					<ng-template #noTooltip>
						<p class="rooms-text">
							{{room.name}}
						</p>
					</ng-template>
				</a>
			</div>
		</mat-card>

	</mat-sidenav>
	<mat-sidenav-content>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>