.button {
	margin-right: 10px;

}

.icon {
	color: white;
}

.text-identify {
	font-size: 17px;
	padding: 8px;
}

.title {
	/* font-family: 'Lobster', cursive; */
	font-family: 'Spectral SC', serif;
}

.flag{
    max-height: 100%; 
    height: auto; 
    width: 20px; 
    padding-right: 10px;
}

span {
	font-family: 'Roboto', sans-serif;
}

mat-sidenav {
	width: 20%;
}

.mat-sidenav-content {
    margin-left: 0px !important;
    margin-right: 0px !important;
    transform: none !important;
  }

a {
    color: black;
    text-decoration: none; /* no underline */
    padding-left: 10px;
    width: 100%;
    outline: 0;
  }

h2, button, p {
    font-family: 'Roboto', sans-serif;
}

.rooms-text {
    font-size: 1.250em;
}

.room-div:hover {
    background-color: #e6e6e6;
}

.active-link {
    border-left: 5px solid #354497;
    background-color: #b4bbe4;
}

.room-list-card {
    padding: 0;
    margin: 0;
}

.person-div {
    display: none;
}

@media screen and (max-width: 900px) {
	.side {
    width: 100%;
  }
  .title span {
      display: none;
  }

  .title::after {
    content: "AdS";
  }
  
  .text-identify {
      display: none;
  }

  .person-div {
      display: block;
  }
}

/* ::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

::-webkit-scrollbar-thumb {
    background: #c6cceb; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #c6cceb; 
} */

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #c6cceb;
}