<mat-toolbar color="primary" class="mat-elevation-z4" fxLayoutAlign="space-between">

	<div fxLayoutAlign="center center">
		<button mat-button (click)="viewRooms()" class="button">
			<mat-icon class="icon">home</mat-icon>
		</button>
	</div>
	<div fxLayoutAlign="center center">
		<span class="title">Angular de Segunda</span>
	</div>
	<div fxLayoutAlign="center center">
		<button mat-button [matMenuTriggerFor]="menu">
			<span class="text-identify">{{this.u.username}}</span>
			<mat-icon class="icon">person</mat-icon>
		</button>

		<mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="false">
			<button mat-menu-item [matMenuTriggerFor]="subMenu">
				<mat-icon>language</mat-icon>
				<span>{{'ChangeLanguage' | translate}}</span>
			</button>

			<button mat-menu-item (click)="logoff()">
				<mat-icon>power_settings_new</mat-icon>
				<span>{{'Logout' | translate}}</span>
			</button>
		</mat-menu>

		<mat-menu #subMenu="matMenu">
			<button mat-menu-item (click)="changeLanguage('en')">
				<img class="flag" src="assets/img/flags/us.svg" alt="">
				<span>en</span>
			</button>

			<button mat-menu-item (click)="changeLanguage('pt')">
				<img class="flag" src="assets/img/flags/br.svg" alt="">
				<span>pt</span>
			</button>
		</mat-menu>
	</div>

</mat-toolbar>

<router-outlet></router-outlet>