<mat-sidenav-container style="height: 100%;">
  <mat-sidenav #sidenav align="end" mode="side" class="mat-elevation-z2">
    <div *ngIf="owner">
      <a mat-icon-button class="cl-q" (click)="closeSide()" style="margin: 5px;">
        <mat-icon>close</mat-icon>
      </a>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content class="hide-scroll">

    <h2>
      {{room.name}}
    </h2>
    <h2>
      {{room.owner}}
    </h2>

    <div fxLayout="row" fxLayoutWrap>
      <mat-card class="card" *ngFor="let quest of questions">
        <button mat-button style="width: 100%" (click)="questionDetail(quest.key)">
          <mat-card-header>
            <mat-card-title>
              {{quest.question}}
            </mat-card-title>
          </mat-card-header>
        </button>
      </mat-card>
    </div>


    <div *ngIf="owner">
      <button mat-fab class="add-q" (click)="action()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>