.add-q {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em;
    z-index: 1;
  }

.cl-q {
    /* position: fixed;
    left: 20px;
    top: 20px; */
    /* background-color: red; */
    color: red;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.card {
	margin: 0.625em;
  min-width: 9.375em;
  max-width: 9.375em;
}

.center {
  max-width: 65%;
}

.text {
  font-family: 'Roboto', sans-serif;
}

.text-mini {
  font-family: 'Roboto', sans-serif;
  color: grey; 
  font-size: 0.925em;
}

.mat-sidenav-content {
  margin-left: 0px !important;
  margin-right: 0px !important;
  transform: none !important;
}

.mat-drawer-closed {
  width: 0px !important;
  min-width: 0px !important;
  max-width: 0px !important;
  height: 0px !important;
  min-height: 0px !important;
  max-height: 0px !important;
}

.sidenav {
  width: 50%;
}