<mat-sidenav-container style="height: calc(100vh - 64px)">
  <mat-sidenav #sidenav align="end" mode="side" class="mat-elevation-z2 sidenav">
    <a mat-icon-button class="cl-q" (click)="closeSide()" style="margin: 5px;">
      <mat-icon>close</mat-icon>
    </a>
    <router-outlet></router-outlet>
  </mat-sidenav>

  <mat-sidenav-content fxLayout="column" fxLayoutAlign="start center">

    <div class="center">
      <h3 class="text" fxLayout="column">
        {{room.name}} ({{'Code' | translate}}: {{room.code}})
        <span class="text-mini">
          {{'By' | translate}} {{room.owner}}
        </span>
      </h3>

      <div fxLayout="row" fxLayoutWrap>
        <mat-card class="card" *ngFor="let quest of questions" (click)="questionDetail(quest.key)">
          <mat-card-header>
            <mat-card-title class="text">
              {{quest.question}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>


    <div *ngIf="owner">
      <button mat-fab class="add-q" (click)="action()" color="primary">
        <mat-icon>add</mat-icon>
      </button>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>