<!-- <div>
	

	<div class="container">
		<mat-card class="card" *ngFor="let user of users">
			<mat-card-header>
				<mat-card-title>{{ user.name }}</mat-card-title>
				<mat-card-subtitle *ngIf="user.location">{{user.location}}</mat-card-subtitle>
			</mat-card-header>
			<img mat-card-image [src]="user.avatar_url">
			<mat-card-content>
				<p>
					{{user.bio || 'No description yet :('}}
				</p>
			</mat-card-content>
		</mat-card>
	</div>

</div> -->
<!-- <a mat-fab (click)="insertBoneco()">
	<mat-icon>add</mat-icon>
</a> -->

<ul *ngFor="let item of items">
	<li>
		{{item.name}}
	</li>
	<ul>
		<li>
			{{item.owner}}
		</li>
	</ul>
</ul>

<form [formGroup]="form" (ngSubmit)="insertBoneco()">
	<div fxLayout="column">
		<mat-form-field>
			<input matInput placeholder="Name" formControlName="name">
		</mat-form-field>
		<button mat-raised-button color="primary" type="submit">Go</button>
	</div>
</form>