<div class="container">
  <div class="helper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <button mat-mini-fab style="margin-right:10px;" (click)="goBack()" color="basic">
          <mat-icon>arrow_back</mat-icon>
        </button>
        {{('SignInWithCode' | translate).toUpperCase()}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="signInAnonymous()">
        <div fxLayout="column">
          <mat-form-field [hintLabel]="hintLabelCode">
            <input matInput [placeholder]="'Code' | translate" formControlName="code">
            <mat-error *ngIf="form.get('code').hasError('required')">{{'Required' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput [placeholder]="'Username' | translate" formControlName="username">
          </mat-form-field>
          <button mat-raised-button color="primary" type="submit">{{'Send' | translate}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
</div>